.qna {
  display: none;
  background-color: #FFE298;
  height: 100vh;
}

.page {
  font-size: 13px;
  padding-top: 50px;
}

.question h2 {
  font-size: 20px;
  padding: 120px 40px;
  line-height: 30px;
}

.answers {
  text-align: center;
  height: 200px;
  width: 100%;
}

.answers li:hover a {
  background: #FFE298;
  border: 1px solid #fff;
}

.answers li a {
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  width: 320px;
  background: #fff;
  border-radius: 100px;
  margin-bottom: 10px;
  color: #000;
  font-size: 13px;
  margin: 10px auto;
  padding: 15px 0;
}