.qna {
  display: none;
  background-color: #FFE298;
  height: 100vh;
}

.page {
  font-size: 13px;
  padding-top: 50px;
  font-style: italic;
}

.question h2 {
  width: 450px;
  font-size: 20px;
  padding: 100px 0;
  line-height: 30px;
  margin: 0 auto;
}

.answers {
  text-align: center;
  height: 220px;
  width: 100%;
}

.answers li a {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 450px;
  height: 100%;
  background: #fff;
  border-radius: 100px;
  color: #000;
  font-size: 15px;
  margin: 10px auto;
  padding: 14px 0;
}

@media (max-width: 767px) {
  .page {
    font-size: 10px;
    padding-top: 50px;
    font-style: italic;
  }

  .question h2 {
    width: 270px;
    font-size: 18px;
    line-height: 26px;
    padding: 80px 0;
  }

  .answers li a {
    width: 270px;
    font-size: 11px;
    margin: 10px auto;
    padding: 8px 0;
  }
}